* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)), url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

.mdl-layout-title{
    font-size: 24px;
}

.page-content {
    margin-top: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#home-content {
    text-align: center;
}

#main-line {
    font-weight: 300;
    text-align: center;
    color: #fafafa;
}

#tag-line, .typed-cursor {
    font-weight: 300;
    color: #fafafa;
}

#propic {
    display: block;
    margin: 0 auto;
    height: 50vh;
    width: auto;
    border-radius: 50%;
    margin-top: 20px;
}

.about-card.mdl-card {
    width: 100%;
}

.about-card > .mdl-card__title {
    color: #ffffff;
    height: 256px;
    background: url('../img/aboutme.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.about-card > .mdl-card__menu {
    color: #ffffff;
}

.skill-card.mdl-card {
    width: 100%;
}

.skill-card > .mdl-card__title {
    color: #ffffff;
    height: 256px;
    background: url('../img/myskill.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.skill-card > .mdl-card__menu {
    color: #ffffff;
}

.mdl-card__supporting-text{
    text-align: justify;
}

.iiitt-website-card.mdl-card {
    width: 100%;
}

.iiitt-website-card > .mdl-card__title {
    color: #ffffff;
    height: 128px;
    background: url('../img/iiitt-website.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.iiitt-website-card > .mdl-card__menu {
    color: #ffffff;
}

.image-editor-card.mdl-card {
    width: 100%;
    height: 100%;
}

.image-editor-card > .mdl-card__title {
    color: white;
    height: 128px;
    background: url('../img/image-editor.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.image-editor-card > .mdl-card__menu {
    color: #ffffff;
}

.shopping-app-card.mdl-card {
    width: 100%;
    height: 100%;
}

.shopping-app-card > .mdl-card__title {
    color: #ffffff;
    height: 128px;
    background: url('../img/shopping-app.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.shopping-app-card > .mdl-card__menu {
    color: #ffffff;
}

.calculator-card.mdl-card {
    width: 100%;
    height: 100%;
}

.calculator-card > .mdl-card__title {
    color: white;
    height: 128px;
    background: url('../img/calculator.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.calculator-card > .mdl-card__menu {
    color: #ffffff;
}

.wikipedia-card.mdl-card {
    width: 100%;
    height: 100%;
}

.wikipedia-card > .mdl-card__title {
    color: white;
    height: 128px;
    background: url('../img/wikipedia.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.wikipedia-card > .mdl-card__menu {
    color: #ffffff;
}

.quote-machine-card.mdl-card {
    width: 100%;
    height: 100%;
}

.quote-machine-card > .mdl-card__title {
    color: white;
    height: 128px;
    background: url('../img/quote-machine.jpg') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.quote-machine-card > .mdl-card__menu {
    color: #ffffff;
}

.atrang-card.mdl-card {
    width: 100%;
    height: 100%;
}

.atrang-card > .mdl-card__title {
    color: white;
    height: 128px;
    background: url('../img/atrang.png') center / cover, linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.atrang-card > .mdl-card__menu {
    color: #ffffff;
}

#thank-you {
    padding: 25px;
    font-weight: 300;
    text-align: center;
    color: #fafafa;
}

#contact-me-line {
    text-align: center;
    color: #fafafa;
}

h4 {
    text-align: center;
    color: #fafafa;
}

#contact-details {
    margin-top: 20px;
    margin-left: 20vh;
    margin-right: 20vh;
    text-align: left;
}